body{
    margin: 0;
    background-color: #3D087B;
}

.left{
    width: 40%;
    height: 100%;
    position: absolute;
    top: 4%;
    left: 9%;
}

.schedule{
    margin-top: 2%;
    background-color: white;
    color: #3D087B;
    font-size: 18px;
    height: 335px;
    border-radius: 10px; 
}

.schedule select{
    width: 280px;
    height: 40px;
    color: #3D087B;
    border-color: #3D087B;
    border-radius: 4px;
    border-color: #EDEDED;
}

.schedule div{
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin: 5px;
}


.vl {
    height: 30px;
    position: relative;
    left: 34px;
    color: #C2C2C2;
    background-color: #C2C2C2;
    width: 2px;
}

h2{
    color: white;
    background-color: #8A11BF;
    height: 67px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    padding-top: 18px;
    box-sizing: border-box;
    font-family: 'Baumans', cursive;
}

button{
    width: 265px;
    height: 45px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 22px;
    border-width: 0;
    background-image: linear-gradient(to right, #6E54EC, #CB52F8, #FC5EFF, #F1A7C5);
}

.block{
    position: relative;
    background-color: #8A11BF;
    color: #F25CFE;
    width: 250px;
    height: 100px;
    left: 280px;
    bottom: 45px;
    border-radius: 5px;
    padding: 5px;
    line-height: 6px;
}


.right{
    position: absolute;
    width: 36%;
    height: 100%;
    right: 10%;
    top: 7%;
}


.watch{
    background-color: white;
    height: 70px;
    text-align: center;
    display: flex;
    padding: 15px;
    border-radius: 7px;
}

.time{
    height: 55px;
    width: 75px;
    padding: 8px;
    padding-top: 25px;
    padding-right: 14px;
    font-weight: 500;
    font-size: larger;
    color: #3D087B;
}

.hour{
    height: 70px;
    width: 60px;
    background-color: #F6E2FF;
    font-family: 'Orbitron', sans-serif;
    padding-top: 13px;
    box-sizing: border-box;
    color: #8A11BF;
    border-radius: 3px;
}

.colon{
    padding: 10px;
    padding-top: 20px;
    font-weight: bolder;
    font-size: larger;
    color: #3D087B;
}

.AM{
    margin-left: 20px;
    height: 70px;
    width: 60px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #CB52F8;
    color: white;
    padding-top: 20px;
    font-size: 24px;
    border-radius: 3px;
}

.task h2{
    margin-top: 45px;
    color: #8E53F0;
    background-color: white;
    height: 90px;
    border-radius: 8px;
    font-weight: bolder;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
}

.images img{
    width: 485px;
}




